.heightAdjust {
  display: flex;
  flex-direction: column;
}

.rightContainer {
  background: url(https://hdwallsource.com/img/2014/8/my-neighbor-totoro-wallpaper-27981-28703-hd-wallpapers.jpg)
    center center;
  height: 100%;
  display: flex;
  flex: 1;
}

.content {
  margin-top: 0;
}
