.right-border {
  border-right: 1px solid #dddddd;
}

.paper {
  background: #9de1fe !important;
  padding: 10px;
}

.information {
  color: #444;
}

.list-item {
  border-bottom: 1px solid #dddddd;
}

.list-item-text {
  padding-left: 10px;
}
